@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  /* Typography */
  --primary-font: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  line-height: 1.5;
  background-color: var(--very-dark-blue-main);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  display: block;
}

.card {
  width: 37.5rem;
  background-color: var(--very-dark-blue-card);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.19);
}

.card__image img {
  border-radius: 1.5rem;
}

.card__heading {
  color: var(--white);
  margin-top: 2rem;
  font-size: 2.2rem;
  font-weight: 900;
}

.card__text {
  color: var(--soft-blue);
  text-wrap: pretty;
  margin-bottom: 1.5rem;
}

.data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--very-dark-blue-line);
  padding-bottom: 1.5rem;
}

.data__ethereum {
  color: var(--cyan);
  font-weight: 900;

  &::before {
    content: url(./images/icon-ethereum.svg);
    position: relative;
    top: 0.2rem;
    right: 0.5rem;
  }
}

.data__date {
  color: var(--soft-blue);

  &::before {
    content: url(./images/icon-clock.svg);
    position: relative;
    top: 0.2rem;
    right: 0.2rem;
  }
}

.creator {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.creator__avatar {
  width: 5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.creator__name {
  color: var(--soft-blue);
}

.creator__name--link {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
}
