@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Color Primary */
  --orange: hsl(25, 97%, 53%);

  /* Color Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --intermediate-dark-blue: hsl(213deg 22.51% 16.07%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Typography */
  --primary-font: "Overpass", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
  font-family: var(--primary-font);
  line-height: 1.6;
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-grey);
}

.hidden {
  display: none;
}

.card {
  width: 90%;
  max-width: 40rem;
  min-width: 30rem;
  height: 40rem;
  background-color: var(--intermediate-dark-blue);
  padding: 3.5rem;
  border-radius: 20px;
}

.card__star {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark-blue);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__heading {
  color: var(--white);
  margin: 1rem 0;
}

.card__text {
  color: var(--light-grey);
}

.card__list {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.card__item {
  background-color: var(--dark-blue);
  padding: 2.1rem;
  border-radius: 50%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__item:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.card__item:hover .card__item__link {
  color: var(--dark-blue);
}

.card__btn {
  padding: 1rem;
  border-radius: 3rem;
  border: none;
  width: 100%;
  background-color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3rem;
  color: var(--white);
}

.card__btn:hover {
  background-color: var(--light-grey);
  color: var(--dark-blue);
  cursor: pointer;
}

.thank__image {
  width: 55%;
  margin: 0 auto;
}

.thank__image img {
  width: 100%;
  display: block;
}

.thank__subtitle {
  background-color: var(--dark-blue);
  color: var(--orange);
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
  border-radius: 2rem;
}

.thank__heading {
  color: var(--white);
  text-align: center;
  margin-top: 3rem;
}

.thank__text {
  color: var(--light-grey);
  text-wrap: pretty;
  margin-top: 1.8rem;
}
